@font-face {
    font-family: myFont;
    src: url(./technology.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./space.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}

.clock-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.clock {
    height: 20vh;
    color: white;
    font-size: 22vh;
    font-family: myFont;
    line-height: 20.4vh;
    display: flex;
    position: relative;
    overflow: hidden;
}

.first, .second{
    width: 100px;
    height: 250px;
}

.clock::before, .clock::after {
    content: '';
    width: 7ch;
    height: 3vh;
    position: absolute;
    z-index: 2;
}

.clock::after {
    bottom: 0;
}

.clock>div {
    display: flex;
}

.tick {
    line-height: 17vh;
}

.tick-hidden {
    opacity: 0;
}

.move {
    animation: move linear 1s infinite;
}

.english{
    color: aliceblue;
    font-size: 4vh;
    margin-top: 5vh;
    font-family: "Poppins", sans-serif;
}

.english > .english-time{
    text-align: center;
}

.number{
    text-align: right;
    height: max-content;
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
    .first, .second{
        width: 50px;
        height: 120px;
    }
    .clock{
        font-size: 9vh;
    }
    .tick{
        line-height: 20vh;
    }
    .clock-body{
        margin-top: 20px;
    }
    .english{
        margin-top: 0;
        font-size: 3vh;
    }
}